@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

body{
  width: 100vw;
  background-image: url("./Material-Loading-Animation.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

form{
  width: 30vw;
  margin: auto;
  margin-top: 30vh;
  background-color: rgba(20, 30, 20, .5);
}

.locationButton{
 margin-left: 7vw;
 width: 8vw;
}

.fahCel{
  margin-left: 1vw;
  width: 8vw;
 }

header{
  width: 100vw;
  height: 5vw;
  background-color: rgba(20, 30, 20, .9);
  font-family: Suez One;
  color: whitesmoke;
}

.feedBackDiv{
  font-size: 2rem;
  color: whitesmoke;
  width: 30vw;
  background-color: rgba(20, 30, 20, .9);
}

.degree{
  font-size: 1rem;
  color: whitesmoke;
}